
     /* Blog and Project and contactPage Below */
     
     html {
        box-sizing: border-box;
            }
    
            body {
                width: 80;
                background: skyblue;
                margin-left:10%;
                margin-right:10%;
                text-align: center;
                border-color: darkgreen
    
            }
            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                size:2em;
                font-style: normal;
               
                
            }
            
            h2 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                size:1.5em;
               
            }
            
            p {
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                size: 16px; 
    
                 }
            
            li {
                align-content: left;
                margin-right:20px;
                list-style: none;
                display:inline;
                font-style: inherit
                }
                
        .container {
        max-width: 960px;
        margin: 0 auto;
        }
            
    
            .content-area {
            text-align: left;
            margin-left: 25%;
            margin-right:25%;
            }
    
            .footer {
                background-color:white;
                color:grey;
            }
    
            .highlighted{
                background-color: yellow;
            }
        
          /* Landing Page Below */

            body {width:90%;
                margin-right: auto;
                margin-left:auto;
                
                background-color: lemonchiffon;
                      }


            h1 {font-family: Verdana, Geneva, Tahoma, sans-serif
                    ; color:rgb(255, 255, 255);
                    
                }
                
            h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(255, 255, 255)}
                
                
            li{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    list-style: none
                    
                }
                
            #profile {border-radius: 50%; border-color: honeydew;align-content: center }
            #bridge {border-radius:15%}
                
                /* Form Styles */

            form input { display:flex;width: 100% ;align-content: center;
                margin-bottom: 50px
                    }

        input[type="submit"] { 
            display: block;
            text-align: center
        }




    
            

         