
     /* Global Styles */
     
     html {

        box-sizing: border-box;
            }
    
            body {
                width: 80;
                background: skyblue;
                margin-left:10%;
                margin-right:10%;
                text-align: center;
                display: grid;
                grid-template-rows: min-content min-content auto min-content;
                grid-template-areas:
                    "navigation"
                    "header"
                    "content-area"
                    "footer"
                    min-height: 100vh;
                }
            
            h1 {
                font-family: 'Rokkitt', serif;;
                size:2em;
                font-family: 'Rokkitt', serif;
                text-decoration-color:black
              
               
                
            }
            
            h2 {
                font-family: 'Crimson Text', serif; ;
                size:1.5em;
                
               
            }
            
            p {
                font-family: 'Rokkitt', serif;
                size: 16px; 
    
                 }
            
            li {
                
                
                text-align: center;
                margin-right:20px;
                list-style: none;
                display:block;
                font-style: inherit
                
                }

                
            .container-header {
            grid-area: header;
            max-width: 960px;
            margin: 0 auto;
        }
            
    
            .content-area {
               
            grid-area: content-area;
            text-align: center;
            margin-left: 25%;
            margin-right:25%;
            }

            .navigation {

            grid-area: navigation
                }
    
            .footer {
            grid-area: footer;
            background-color:white;
            color:grey;
            }
    
           
            #profile {border-radius: 50%; border-color: honeydew;align-content: center;size: 20px }
            #bridge {border-radius:15%}
            #contact-info{align-content: center}
            #contact {align-content: center}
                
        /* Form Styles */

        form input { display:flex;width: 100% ;align-content: center;
                margin-bottom: 50px
                    }

        input[type="submit"] { 
            display: block;
            text-align: center
            
            
        }/* navigation */

        
    
        @media (min-width: 612px) {
            body {
              grid-template-columns: 10rem auto;
              grid-template-rows: min-content auto min-content;
              grid-template-areas:
                "navigation header"
                "navigation content"
                "navigation footer"
            }
          }
            

         